@model IEnumerable<EventModelWithQuantitiesOfTimeAndDateTimeInfoHeaders>

<div class="container" style="padding: 10px">
    @{
        <div class="row">
            @foreach (var item in Model)
            {
                if (item.IsDateTimeInfoHeaderRecord)
                {
                    <div class="col-12 badge badge-pill badge-primary" style="margin-top:20px;">
                        <div class="row" style=" font-size:15px; padding:15px">
                            @item.HeaderDate.ToShortDateString()
                            @Html.Partial("../SharedPartials/RelativeElapsedTimeDisplayPartial", item.QuantitiesOfTimeModel)
                        </div>
                    </div>
                }
                else
                {
                    <div class="card text-white bg-secondary mb-0" style="max-width: 18rem;margin:10px">
                        <div class="card-header">
                            @Html.DisplayFor(modelItem => item.StartTimeDisplayOnly)
                            -
                            @{
                                if (item.EndDateTime == null)
                                { <a asp-action="Stop" asp-route-id="@item.Id" class="btn btn-danger">Stop</a> }
                                else
                                { @Html.DisplayFor(modelItem => item.EndTimeDisplayOnly) }
                            }
                        </div>

                        <div class="card-body" style="padding-bottom:0px">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.Description)
                            </h5>

                            <text class="card-text">
                                @Html.Partial("../SharedPartials/RelativeElapsedTimeDisplayPartial", item.QuantitiesOfTimeModel)
                            </text>
                        </div>
                        <div class="align-self-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn rounded" style="width:100%">✏️</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>
