@model IEnumerable<EventModel>

@{
    ViewData["Title"] = "Events";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>

<body>
    <a asp-action="Create" asp-route-id="@ViewBag.itemId" class="btn btn-success" style="margin-left: 30px">New Event</a>
    <a asp-action="Start" asp-route-id="@ViewBag.itemId" style="float:right; margin-right: 30px" class="btn btn-primary">Start Clock</a>
</body>

<div class="container" style="padding: 10px">
    <hr style="border: 2px solid green; margin: 0em;" />

    <div class="row" style="background-color: lightgray">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h3 style="text-align: center">Start</h3>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <h3 style="text-align: center">End</h3>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
            <h3 style="text-align: left">Details</h3>
        </div>
    </div>

    <hr style="border: 2px solid green; margin: 0em;" />

    @{
        var lastDateTime = "";

        @foreach (var item in Model)
        {
            if (!(lastDateTime).ToString().Equals((item.StartDateTime.Year + item.StartDateTime.Month + item.StartDateTime.Day).ToString()))
            {
                lastDateTime = (item.StartDateTime.Year + item.StartDateTime.Month + item.StartDateTime.Day).ToString();
                <div class="row" style="min-height: 35px">
                    @item.StartDateTime.ToShortDateString()
                </div>
            }

            <a asp-action="Details" asp-route-id="@item.Id">
                <div id="row" class="row" style="min-height: 35px">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center">
                        <body>
                            @Html.DisplayFor(modelItem => item.StartTimeDisplayOnly)
                        </body>
                    </div>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center">
                        @{
                            if (item.EndDateTime == null)
                            {
                                <div style="width: 75%; height: 100%">
                                    <object>
                                        <a asp-action="Stop" asp-route-id="@item.Id" class="btn btn-danger">Stop</a>
                                    </object>
                                </div>
                            }
                            else
                            {
                                <body>
                                    @Html.DisplayFor(modelItem => item.EndTimeDisplayOnly)

                                </body>
                            }
                        }
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4" style="text-align: left">
                        <body>
                            @Html.DisplayFor(modelItem => item.Description)
                    </body>
                </div>
            </div>
            <hr style="border: 1px dotted green;  margin: 0em" />
        </a>
    }
    }
</div>