@model TimeTrackerWeb.Models.Time.QuantitiesOfTimeModel

<div class="col-12" hidden="@(!Model.ShouldShowRelativeMillenniums)">
    Millenniums: @Model.RelativeMillenniums
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeCenturies)">
    Centuries @Model.RelativeCenturies
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeDecades)">
    Decades @Model.RelativeDecades
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeYears)">
    Years: @Model.RelativeYears
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeMonths)">
    Months: @Model.RelativeMonths
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeWeeks)">
    Weeks: @Model.RelativeWeeks
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeDays)">
    Days: @Model.RelativeDays
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeHours)">
    Hours: @Model.RelativeHours
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeMinutes)">
    Minutes: @Model.RelativeMinutes
</div>
<div class="col-12" hidden="@(!Model.ShouldShowRelativeSeconds)">
    Seconds @Model.RelativeSeconds
</div>