@model TimeTrackerWeb.Models.Time.QuantitiesOfTimeModel

<div class="col-4" style="white-space: nowrap">
    Millenniums: @Model.TotalMillenniums
</div>
<div class="col-4" style="white-space: nowrap">
    Centuries @Model.TotalCenturies
</div>
<div class="col-4" style="white-space: nowrap">
    Decades @Model.TotalDecades
</div>
<div class="col-4" style="white-space: nowrap">
    Years: @Model.TotalYears
</div>
<div class="col-4" style="white-space: nowrap">
    Months: @Model.TotalMonths
</div>
<div class="col-4" style="white-space: nowrap">
    Weeks: @Model.TotalWeeks
</div>
<div class="col-4" style="white-space: nowrap">
    Days: @Model.TotalDays
</div>
<div class="col-4" style="white-space: nowrap">
    Hours: @Model.TotalHours
</div>
<div class="col-4" style="white-space: nowrap">
    Minutes: @Model.TotalMinutes
</div>
<div class="col-4" style="white-space: nowrap">
    Seconds @Model.TotalSeconds
</div>