@model ProjectModelWithQuantitiesOfTime

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12 col-sm-8 col-lg-6 mx-auto">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card primary-color-dark">
            <h5 class="card-header">@ViewData["Title"]</h5>
            <div class="card-body">
                <div class="row">
                        <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" disabled/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" disabled></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    @Html.Partial("../SharedElements/BackToListButton")
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-12">Totals:</div>
                @Html.Partial("../SharedPartials/TotalElapsedTimeDisplayPartial", Model.QuantitiesOfTimeModel)
                <br/>
                <br/>
                <div class="col-12">Relatives:</div>
                @Html.Partial("../SharedPartials/RelativeElapsedTimeDisplayPartial", Model.QuantitiesOfTimeModel)
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>