@model IEnumerable<ProjectModel>

@{
    ViewData["Title"] = "Projects";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    async function GetTotalProjectHoursSinceLastSunday(id, elementToUpdate) {
        var url = "/Project/GetTotalProjectHoursSinceLastSunday/" + id;

        return new Promise((resolve, reject) => {
            $.ajax({
                url: url,
                type: 'GET',
                timeout: 3000,
                success: (response) => {
                    document.getElementById(elementToUpdate).innerHTML = response;
                    resolve(response);
                },
                error: (response) => {
                    reject(response);
                }
            })
        })
    }
</script>

<div class="container">
    <div class="row ">
        <div class="col-md-2 mx-auto">
            <p></p>
        </div>
        <div class="col-md-6 mx-auto">
            <h1 style="text-align: center">@(Model.Any() ? ViewData["Title"] : "Get Started")</h1>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="float-right">
                <a asp-action="Create" class="btn btn-success font-weight-bold" style="width: 150px; height: 50px; align-content: center;text-align: center">
                    <h3>New</h3>
                </a>
            </div>
        </div>
    </div>

    <br />

    @if (Model.Any())
    {
        <div class="row grid-container">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" style="padding: 10px">
                    <div class="grid-item">
                        <a asp-action="Index" asp-controller="Event" asp-route-id="@item.Id" class="btn btn-info">
                            <h1>@item.Name</h1>
                        </a>

                        <h1>@item.Description</h1>

                        <div class="row">
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeMillenniums)">
                                Millenniums: @item.QuantitiesOfTimeModel.RelativeMillenniums
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeCenturies)">
                                Centuries @item.QuantitiesOfTimeModel.RelativeCenturies
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeDecades)">
                                Decades @item.QuantitiesOfTimeModel.RelativeDecades
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeYears)">
                                Years: @item.QuantitiesOfTimeModel.RelativeYears
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeMonths)">
                                Months: @item.QuantitiesOfTimeModel.RelativeMonths
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeWeeks)">
                                Weeks: @item.QuantitiesOfTimeModel.RelativeWeeks
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeDays)">
                                Days: @item.QuantitiesOfTimeModel.RelativeDays
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeHours)">
                                Hours: @item.QuantitiesOfTimeModel.RelativeHours
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeMinutes)">
                                Minutes: @item.QuantitiesOfTimeModel.RelativeMinutes
                            </div>
                            <div class="col" style="white-space: nowrap" hidden="@(!item.QuantitiesOfTimeModel.ShouldShowRelativeSeconds)">
                                Seconds @item.QuantitiesOfTimeModel.RelativeSeconds
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="white-space: nowrap">
                                Hours this week:
                                @{
                                    var nameOfElement = "thisWeeksHours" + @item.Id;
                                    <label id="@nameOfElement">@nameOfElement</label>
                                }
                                <script>GetTotalProjectHoursSinceLastSunday('@item.Id', '@nameOfElement')</script>
                                <div></div>
                            </div>
                        </div>

                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">✏️</a>
                    </div>
                </div>
                <br />
            }
        </div>
    }
</div>